*,
*::before,
*::after{
    box-sizing: border-box;
}

.about-me-page{
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background: rgb(16,101,105);
    background: linear-gradient(0deg, rgba(16,101,105,1) 0%, rgba(34,193,195,1) 100%);
}

.social-media-parent{    
    margin-left: 50%;
    transform: translateX(-50%);
    max-width:200px;
}

.social-media{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
